// 异步加载的暗黑模式 暗黑模式 CSS 变量

async_dark()
  // tag plugin from stellar
  --block-hover: mix($c-block-dark, $c-text-dark, 95)
  --text-p1: $c-text-dark
  --text-p3: mix($c-text-light, $c-site-bg-light, 60)
  --card: $c-card-light

  // waline Dark Color https://github.com/volantis-x/hexo-theme-volantis/issues/633
  if hexo-config('comments.service')=='waline'
    --waline-white: #000 !important
    --waline-light-grey: #666 !important
    --waline-dark-grey: #999 !important
    --waline-color: #fff !important
    --waline-text-color: #888 !important
    --waline-bgcolor: #252d38 !important
    --waline-bgcolor-light: #272727 !important
    --waline-border-color: #cbcbcb !important
    --waline-border: 0.5px var(--waline-border-color); !important
    --waline-disable-bgcolor: #444 !important
    --waline-disable-color: #272727 !important
    --waline-bq-color: #272727 !important
    --waline-info-bgcolor: #272727 !important
    --waline-info-color: #fff !important


  // Custom Files
  for $injects_darkVar in hexo-config('injects.darkVar')
    @import $injects_darkVar;
  // eg:
  // body
  //   --color-site-body: blue !important

@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([color-scheme])
    async_dark()
    @import 'dark_plugins'
[color-scheme='dark']
  async_dark()
  @import 'dark_plugins'
